body{
    background-image: url(../images/white_wall.png);
    width:100%;
    margin: 0;
    color: #777777;


}

.main {
    height: 100%;
}


.header {
    background-color: white;
    width:100%;
    height: 75px;
    border: 1px;
    border-color: #dddddd;
    border-style: double;
    margin-top: 5px;
}
.name{

    background-color: #4aaaa5;
    color: white;
    width: 285px;
    height: 60px;
    margin-left:  135px;
    text-align: center;
    padding-top: 15px;
    float: left;
    margin-top: auto;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif'; ;

}

.menu{
padding: 25px;
    margin-left: 25px;
    font-family: Arial;
}


#about {

    float: left;
    margin-left: 38%;
    text-decoration: none;
}

#about:link, #about:visited {
    color: #777777;
}
#about:hover {
    color: red;
}
#contact {

    margin-left: 11px;
    text-decoration: none;

}
#contact:link, #contact:visited {
    color: #777777;
}
#contact:hover {
    color: red;
}

#connect {

    margin-left: 11px;
    text-decoration: none;

}

#connect:link, #connect:visited {
    color: #777777;
}
#connect:hover {
    color: red;
}

.aboutme {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    color: #4aaaa5;

}

.pic {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 200px;
    border: none;

}


.content {
    background-color: #ffffff;
    width: 619px;
    border: 1px;
    border-color: #dddddd;
    border-style: double;
    margin-top: 10px;
    margin-left: -285px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    line-height: 30px;
}

.connectme {

    color: #4aaaa5;

}
.social {
    background-color: #ffffff;
    width: 249px;
    float: left;
    border: 1px;
    border-color: #dddddd;
    border-style: double;
    margin-top: 10px;
    margin-left: 100px;
    text-align: center;
    padding: 20px;
    padding-top: 0px;

}

#icon1 {
    float:left;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;

}

#icon2 {
    float:left;
    margin-top: 20px;
    margin-left: 20px;
}

#icon3 {
    float:left;
    margin-top: 25px;
    margin-left: 20px;
}


.unused {
    clear: both;
    height: 200px;

}
.footer{
    clear: both;
    height: 50px;
    border-top: solid;
    border-top-color: teal;
    border-top-width: thick;
    width: 100%;
    text-align: center;
    bottom: 0px;
    background-color :#666666;
    color: white;

}



/*--------------------------------------------------------------*/

input[type=text] {
    width: 490px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea {
    width: 490px;
    height:150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


button {
    padding: 8px 16px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: green;
    margin-bottom: 10px;
}


/*--------------------------------------------------------------*/

.flower1 {
    width: 300px;
    height: 200px;
}

.image1{
    float: left;
    position: relative;
    width: 300px;

}
.pic1Text {
    position: absolute;
    background-color: teal;
    width: 93%;
    text-align: center;
    height: 25px;
    padding: 11px;
    bottom: 0;
}

.image2{
     position: relative;
     float: right;
     width: 300px;

}
.pic2Text {
    position: absolute;
    background-color: teal;
    width: 93%;
    bottom: 0;
    text-align: center;
    height: 25px;
    padding: 11px;
}

.image3{
    position: relative;

    clear: both;
    float: left;
    width: 300px;
    margin-top: 5%;


}
.pic3Text {
    position: absolute;
    background-color: teal;
    width: 93%;
    bottom: 0;
    text-align: center;
    height: 25px;
    padding: 11px;
}

.image4{
    position: relative;

    float: right;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;

}
.pic4Text {
    position: absolute;
    background-color: teal;
    width: 93%;
    bottom: 0;
    text-align: center;
    height: 25px;
    padding: 11px;
}

.image5{
    position: relative;
    clear: both;
    width: 300px;
    height: 201px;
    margin-top: 5%;
    margin-bottom: 20px;


}

#pic5Text {
    position: absolute;
    background-color: teal;
    width: 93%;
    bottom: 0;
    text-align: center;
    height: 25px;
    padding: 11px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 225%;
    color: white;

}

#pic5Text {
    text-decoration: none;
}
/*#pic5Text:link{*/
    /*color: white;*/
/*}*/
#pic5Text:hover {
    color: red;
}